
<div class="field omega four columns">
	<%= "#{Spree.t('promotion_rule_types.product_count.treshold')}"%>
  <%= text_field_tag "#{param_prefix}[preferred_product_count_quantity_treshold]", promotion_rule.preferred_product_count_quantity_treshold, :class => 'fullwidth' %>
</div>
